body{
    background-color: rgb(37, 156, 165);}
h1{
  color: #ebe706; 
  

}    
h3{
    color: #cf0b0b;

}
hr{
    background-color:#cf0b0b;
    border-top-style:dotted ;
    height: 4px ;
    width: 800px; 
}

 